{% extends 'base.html.twig' %}

{% block title %}
	{{ "Accueil" | trans({}, 'nav') }}
{% endblock %}

{% block bodyfull %}

	<div class="app">

		<section class="section-welcome bg1-pattern p-t-120 p-b-105">
			<div class="container">
				<div class="search-sidebar2 m-l-r-auto size39 bo2 pos-relative">
					<input class="input-search-sidebar2 txt10 p-l-20 p-r-55" type="text" name="search" placeholder="Search">
					<button class="btn-search-sidebar2 flex-c-m ti-search trans-0-4"></button>
				</div>
				{# <div>
					<p>{{app.request.attributes.get('_locale')}}</p>
				</div> #}
				<div class="sidebar2 p-t-20 p-b-20 p-l-20 p-l-0-md p-t-0-md">
					<div class="row">
						<div class="col-md">
							<div class="archive">
								<h4 class="txt33 p-b-35 p-t-43">
									Dernier Plat
								</h4>

								<ul>
									{% for meal in meal_recap %}
										<li class="flex-sb-m p-t-8 p-b-8">
											<a href="{{ path('meal_show', {id: meal.id, slug: meal.slug}) }}" class="txt27">
												{{ meal.name }}
											</a>

											<span class="txt29">
												({{ "commandé " ~ meal.totalcommand | number_format ~ " fois" }})
											</span>
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>
						<div class="col-md">
							<div class="categories">
								<h4 class="txt33 bo5-b p-b-35 p-t-43">
									Traiteur/Restaurateur
								</h4>

								<ul>
									{% for provider in prov_recap %}
										<li class="bo5-b p-t-8 p-b-8">
											<a href="{{ path('provider_show', {id: provider.id, slug: provider.slug}) }}" class="txt27">
												{{ provider.name }}
											</a>
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>
						<div class="col-md">
							<div class="popular">
								<h4 class="txt33 p-b-35 p-t-43">
									Plat populaire
								</h4>

								<ul>
									{% for meal in meal_popular %}
										<li class="flex-w m-b-25">
											<div class="size16 bo-rad-10 wrap-pic-w of-hidden m-r-18">
												<a href="{{ path('meal_show', {id: meal.id, slug: meal.slug}) }}">
													<img src="{{ meal.img }}" alt="IMG-POPULAR">
												</a>
											</div>

											<div class="size28">
												<a href="{{ path('meal_show', {id: meal.id, slug: meal.slug}) }}" class="dis-block txt28 m-b-8">
													{{ meal.name }}
												</a>

												<span class="txt14">
													{{ meal.totalcommand | number_format ~ " commandes, " ~ meal.createdAt | date('Y, m d') }}
												</span>
											</div>
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section-intro">
			<div class="header-intro parallax100 t-center p-t-135 p-b-158" style="background-image: url({{asset('assets/images/bg-intro-01.jpg')}});">
				<h3 class="tit4 t-center p-l-15 p-r-15 p-t-3">
					{{ nameSite }}
				</h3>
				<span class="tit2 p-l-15 p-r-15">
					{{ "vous souhaite la bienvenue" | trans }}
				</span>
			</div>

			<div class="content-intro bg-white p-t-77 p-b-133">
				<div class="container">
					<div class="row">
						{% for meal in lastmeals %}
							<div class="col-md-4 p-t-30">
								<div class="blo1">
									<div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
										<a href="{{ path('meal_show', {id: meal.id, slug: meal.slug}) }}"><img src="{{ meal.img }}" alt="IMG-INTRO"></a>
									</div>

									<div class="wrap-text-blo1 p-t-35">
										<a href="#">
											<h4 class="txt5 color0-hov trans-0-4 m-b-13">
												{{ meal.name }}
											</h4>
										</a>

										<div class="m-b-20">
											{{ meal.description | truncate(100) | raw }}
										</div>

										<a href="{{ path('meal_show', {id: meal.id, slug: meal.slug}) }}" class="txt4">
											{{ "Voir plus" | trans }}
											<i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
										</a>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</section>
	</div>
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{asset('assets/vendor/animsition/css/animsition.min.css') }}">
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{asset('assets/vendor/animsition/js/animsition.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('assets/vendor/parallax100/parallax100.js')}}"></script>
	<script type="text/javascript">
		$('.parallax100').parallax100();
	</script>
{% endblock %}
