{% extends 'base.html.twig' %}

{% block title "Panier" %}

{% block body %}

	<div class="cart-show p-t-130 p-b-95">
		<div class="row">
			<div class="col-md">
				<div class="border border-app mb-4 table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Nom</th>
								<th scope="col">Prix</th>
								<th scope="col">Quantité</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
							{% for command in cart2 %}
								{% set provider = command['provider'] %}
								{% set price = command['price'] %}
								{% set meals = command['meals'] %}
								{% set forOne = loop.index %}
								<tr>
									<th scope="row">{{forOne}}</th>
									<td colspan="4">
										<a href="{{path('provider_show', {id:provider.id,slug:provider.slug})}}">
											{{provider.name}}
										</a>
									</td>
								</tr>
								{% for meal in meals %}
									<tr>
										<td>{{forOne ~ "." ~ loop.index}}</td>
										<td>
											<a href="{{path('meal_show', {id:meal['product'].id,slug:meal['product'].slug})}}">
												{{meal['product'].name}}
											</a>
										</td>
										<td>{{meal['product'].price}}</td>
										<td>{{meal['quantity']}}</td>
										<td>
											{% include "command/cart_delete.html.twig" with {meal: meal['product']} %}
										</td>
									</tr>
								{% endfor %}
								<tr>
									<td></td>
									<td></td>
									<td>{{price}}
										XPF</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="4">Pas de commande pour le moment.</td>
								</tr>
							{% endfor %}
							{% if cart | length > 0 %}
								{{ render(path('command_cart_prices')) }}
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md">
				{% if cart | length > 0 %}
					{{ render(path('command_new')) }}
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	{% if cart2 %}
		<script src="https://www.google.com/recaptcha/api.js?render={{get_env('RECAPTCHA_KEY_3')}}" type="text/javascript"></script>
		<script src="{{asset('assets/custom/js/meal/app-order.js')}}"></script>
	{% endif %}
{% endblock %}
