{% extends 'base.html.twig' %}

{% block title %}Command index{% endblock %}

{% block body %}
    <h1>Command index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>CreatedAt</th>
                <th>Items</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for command in commands %}
            <tr>
                <td>{{ command.id }}</td>
                <td>{{ command.name }}</td>
                <td>{{ command.createdAt ? command.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ command.items }}</td>
                <td>
                    <a href="{{ path('command_show', {'id': command.id}) }}">show</a>
                    <a href="{{ path('command_edit', {'id': command.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
