{% extends "base.html.twig" %}

{% block header %}
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-warning fixed-left">
			<a class="navbar-brand" href="{{path('app_index')}}">{{nameSite}}</a>
		</nav>
	</header>
{% endblock %}

{% block bodyfull %}
	<section class="user-auth user-manage bg-faIcon pt-4 pb-4" data-fa-icon="&#xf2e7">
		{% block user %}{% endblock %}
	</section>
{% endblock %}

{% block footer %}
	<footer id="user-footer"></footer>
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{asset('assets/custom/vendor/rte/richTextEditor.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('assets/vendor/select2/select2.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('assets/custom/css/user/app-auth.css')}}">
	 {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
	<script src="https://www.google.com/recaptcha/api.js?render={{get_env('RECAPTCHA_KEY_3')}}" type="text/javascript"></script>
	<script src="{{asset('assets/vendor/custom/js/loadingoverlay.min.js')}}"></script>
	<script src="{{asset('assets/custom/vendor/rte/richTextEditor.js')}}"></script>
	<script src="{{asset('assets/vendor/select2/select2.min.js')}}"></script>
	<script src="{{asset('assets/custom/js/user/app-auth.js')}}"></script>
	 {{ encore_entry_script_tags('app') }}
{% endblock %}
