<div class="card">
	<img width="200" src="{{meal.img}}" class="card-img" alt="IMG-MEAL">
	<div class="card-img-overlay bg-card-img-hover d-flex flex-column">
		<h5 class="card-title">{{meal.name}}</h5>
		<div class="card-text">{{meal.description|truncate(20)|raw}}</div>
		<p class="card-text mt-1">{{meal.createdAt|date('d m Y')}}</p>
		<div class="mt-auto">
			<a class="btn-bs btn-warning" title="voir plus" href="{{path('meal_show', {id: meal.id, slug: meal.slug})}}">
				<i class="fas fa-eye" aria-hidden="true"></i>
			</a>
			<button class="btn-bs btn-warning modal-btn-edit" data-label="{{'Modifier une assiete'|trans({}, 'nav')}}" data-url-action="{{path('meal_edit', {id:meal.id,slug:meal.slug})}}" type="button" title="modifier" data-toggle="modal" data-target="#mealModal">
				<i class="fas fa-pencil-alt" aria-hidden="true"></i>
			</button>
			<form name="meal-delete" data-btn-delete="#meal-btn-delete" data-modal="#meal-modal" method="post" class="d-inline" action="{{ path('meal_delete', {'id': meal.id}) }}">
				<button class="btn-bs btn-warning" title="supprimer">
					<i class="fas fa-trash" aria-hidden="true"></i>
				</button>
				<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ meal.id) }}">
				<input type="hidden" name="_method" value="DELETE">
			</form>
		</div>
	</div>
</div>
