<pre style="white-space: pre-line;">

{% include "app/credit/notes.html.twig" %}

<h6>1. Acceptation des Conditions Générales de Vente</h6>

Les présentes Conditions Générales de Vente régissent contratuellement les relations commerciales entre {{SITENAME}} (ou {{EDITOR}}) et l'utilisateur du site {{SITEDOMAIN}}.
{{CLIENT}} déclare avoir pris connaissance des dispositions suivantes avant de passer commande de produits. En choisissant d'acheter des produits sur {{SITEDOMAIN}}, {{CLIENT}} accepte expressément les termes énoncés ci-après.
{{PROVIDER}} déclare avoir pris connaissance des dispositions suivantes avant d'utiliser ce service. En choisissant d'utiliser ce service sur {{SITEDOMAIN}}, {{PROVIDER}} accepte expressément les termes énoncés ci-après.
En cas de contradiction entre les présentes conditions générales de vente et tout autre document figurant sur le site, y compris charte de qualité ou document équivalent, les présentes conditions générales prévalent.
 
<h6>2. Prix</h6>

Les prix affichés sur le site {{SITEDOMAIN}} sont exprimés en Fanc Pacifique (XPF, CFPF). Les transactions, les factures sont libellées en Franc Pacifique.
{{CLIENT}} : Le prix indiqué dans le récapitulatif de votre commande est le prix définitif. Ce prix comprend le prix du total de la commande avec le détail de chaque produit, les frais de port et livraison.
{{CLIENT}} : Le prix indiqué dans le récapitulatif de votre facture comprend le nombre de commande et du service.
{{EDITOR}} se réserve le droit de modifier à tout moment l’offre publiée sur le site {{SITEDOMAIN}} en termes de produits et de prix, en fonction notamment des contraintes liées aux {{PROVIDER}}. Mais les produits seront facturés sur la base des tarifs en vigueur au moment de l'enregistrement des commandes sous réserve de leur disponibilité.
En cas d'erreur manifeste sur le prix, liée à un erreur de saisie, {{PROVIDER ~ "/" ~ EDITOR}} se réserve le droit d'annuler la vente. Un arrangement sera alors proposé au {{CLIENT}}.
Nos ventes sont conclues avec réserve de propriété. Les produits demeurent propriété de {{PROVIDER}} jusqu'au complet encaissement du prix.
 
<h6>3. Commande</h6>

{{CLIENT}} peut commander par Internet à l’adresse {{SITEURL}}.
Par Internet, lorsque vous cliquez sur le bouton "Confirmer la commande" ou "Commander" après le processus de commande, vous déclarez accepter pleinement et sans réserve l'intégralité des présentes Conditions Générales de Vente.
Les données enregistrées par {{SITENAME}} constituent la preuve de l'ensemble des transactions passées entre {{PROVIDER}} et {{CLIENT}}. Les données enregistrées par le système de paiement constituent la preuve des transactions financières.
{{SITENAME}} confirme au {{CLIENT}} la prise en compte de sa commande par e-mail à l'adresse indiquée par {{CLIENT}}.
{{PROVIDER ~ "/" ~ EDITOR}} se réserve le droit de refuser ou d'annuler toute nouvelle commande venant d'un {{CLIENT}} avec lequel un litige existe. Par ailleurs, en cas de souci lié au traitement de la commande, {{PROVIDER}} contactera directement le {{CLIENT}} aux coordonnées indiquées par celui-ci, afin de l’informer et de lui proposer une solution.
Lors d'une passation de commande, le {{CLIENT}} fournit sous son entière et unique responsabilité les informations suivantes : Adresse e-mail. Adresse. Téléphone.
En cas d'erreur dans le libellé des coordonnées du destinataire, {{PROVIDER ~ "/" ~ DELIVER}} ne saurait être tenu pour responsable de l'impossibilité de livraison, notamment si celles-ci sont incomplètes.
 
<h6>4. Produits</h6>

Les produits proposés sont conformes à la législation française en vigueur. Ils sont produits et mis sur le marché par {{PROVIDER}} reconnus, sous leur propre responsabilité.
{{SITENAME}} dispose d'une totale indépendance dans la sélection des produits proposés.
Les photographies des produits n'ont aucun caractère contratuel, ni leur poids précis ou celui des conditionnements que {{PROVIDER}} peuvent modifier au gré des évolutions de gamme.
{{SITENAME}} se réserve le droit à tout moment et sans préavis d'ajouter ou de supprimer des produits de son site internet.
 
<h6>5. Disponibilité des produits</h6>

{{SITENAME}} dispose d'une totale indépendance dans la sélection des produits proposés.
Dans ce cadre, des indications sur la disponibilité des produits vous sont fournies au moment de la passation de votre commande. Ces informations ne sont qu'indicatives car elles proviennent directement de {{PROVIDER}}. Les erreurs ou modifications exceptionnelles sont indépendantes de notre volonté et {{SITENAME}} ne saurait en être tenu responsable.
Dans le cadre d'une commande d'un seul et unique article : une indisponibilité de cet article entraîne l'envoi d'un e-mail avertissant le {{CLIENT}} de la rupture de stock et du délai de réapprovisionnement par {{PROVIDER ~ "/" ~ EDITOR}}.
Dans le cadre d'une commande composée de plusieurs articles : une indisponibilité sur l'un des articles commandés entraîne l'envoi d'un e-mail avertissant le {{CLIENT}} de la rupture de stock et du délai de réapprovisionnement concernant l'article manquant par {{PROVIDER ~ "/" ~ EDITOR}}.
 
<h6>6. Zone, délai et tarifs de livraison</h6>

<strong>a- Zone de livraison</strong>
La livraison est limitée aux zones suivantes :
    •    Polynésie Française
    •    Sont exclus de la zone de livraison les autres pays ou territoires.

<strong>b- Préparation de la commande</strong>
Entre la commande et l'expédition, la préparation du colis sont gérées par {{PROVIDER}}.
Les commandes ne sont expédiées ou remises au {{CLIENT}} qu’après réception du paiement complet.

<strong>c- Délai de livraison</strong>
Les délais de livraison sont gérées par {{PROVIDER ~ "/" ~ DELIVER}}.

<strong>d- Réception par le {{CLIENT}}</strong>
<strong>i – Mode de livraison</strong>
{{PROVIDER}} livrera 100% des commandes à destination du {{CLIENT}} via des coursiers en 2 roues (cycles classiques ou avec caisse), ou des véhicules plus grands pour les colis volumineux.
Vous avez donc la garantie d’une livraison 100 % depuis les locaux de {{PROVIDER}} !
La livraison des produits sera effectuée à l'adresse indiquée par {{CLIENT}} lors de la commande.
<strong>ii – Horaires</strong>
Les colis sont livrés selon les horaires et jours ouvrés {{PROVIDER}}.
<strong>iii – Informations nécessaires pour la livraison</strong>
La livraison du colis dès la première tentative constitue un gain de temps et d’argent pour tous les acteurs de la chaîne : {{PROVIDER}}, {{DELIVER}} et {{CLIENT}}.
Afin de permettre une livraison du premier coup dans les meilleures conditions, nous vous remercions de bien vouloir préciser toute information utile concernant notamment l’adresse de livraison et les disponibilités du réceptionnaire dans la zone « commentaires » du bon de commande : jours d’absence, plages horaires d’indisponibilité, digicode, nom sonnette, …
Si vous travaillez en semaine, il est vivement conseillé d’indiquer votre adresse professionnelle comme adresse de livraison afin d’éviter de multiples échecs de livraison. En effet la plupart des colis n’entreront pas dans votre boîte à lettre.
<strong>iv – Réception du colis</strong>
{{CLIENT}} est tenu de vérifier le bon état du colis à la livraison. En cas de manquant ou de dégradation, {{CLIENT}} doit formuler des réserves auprès du {{DELIVER}} au moment de la livraison, ou du représentant {{PROVIDER ~ "/" ~ EDITOR}} ou du relais colis le cas échéant. Ces réserves sont à porter sur le Bon de livraison. Il convient donc de ne pas prendre congé avant d’avoir ouvert et contrôlé le contenu du colis.
Contactez-nous ensuite via le formulaire de contact sous le libellé "Commande" en précisant vos coordonnées, le numéro de la commande et la nature du problème.
Un éventuel retard de livraison par rapport aux délais indiqués aux présentes conditions générales ne donne pas droit à dommages et intérêts de la part de {{SITENAME}}.
{{PROVIDER}} est déchargée de son obligation de livrer en cas de force majeure telle que guerre, émeute, incendie, grève, accident, catastrophe naturelle, impossibilité d'approvisionnement auprès d'un {{CLIENT}}.
<strong>e- Tarifs de livraison</strong>
Le coût de la livraison à la charge du {{CLIENT}} est susceptible de varier en fonction de la zone géographique, du délai et des plages horaires de livraison, du poids ou de la valeur des objets commandés, ainsi que des frais de chaques {{DELIVER}}. Les frais de livraison sont variables pour une même commande quel que soit le nombre d'articles commandés. Ainsi, si vous passez une commande avec 3 articles pour Tahiti-Fakarava en non urgent vous paierez les frais d'expédition des tarifs de Air Tahiti en tout pour les 3 articles.
Pour les autres cas, merci de nous adresser une demande de devis via le formulaire de contact du site sous le libellé "Livraison".
Au moment de la commande, c'est {{PROVIDER}} qui dertermine les frais de livraison correspondant.
Les frais de livraison peuvent être gratuites selon les {{PROVIDER}}.
Dans tous les autres cas les frais de livraison correspondants doivent être sélectionnés et acquittés avec la commande.
Si {{CLIENT}} omet de sélectionner les frais de livraison correspondants, ou s'il choisit une catégorie ne correspondant pas à la réalité de sa commande, {{PROVIDER}} se réserve le droit de décaler la livraison, voire d'annuler purement la commande.
 
<h6>7. Paiement</h6>

Le prix des produits est payable au comptant le jour de la commande effective. Ce prix est indiqué sur la confirmation de commande adressée au {{CLIENT}} par {{SITENAME}}.
Le mode de paiement dépend des {{PROVIDER}}.
Dans ce cas {{SITENAME}} avertira le {{CLIENT}} lorsque sa commande sera prête, afin que ce dernier en prenne livraison directement à l’espace de vente aux horaires d’ouverture, ou sur rendez-vous.
 
<h6>8. Promotions, remises, fidélité</h6>

{{SITENAME}} est susceptible d’accorder à ses utilisateurs des remises sur tout ou partie du catalogue.
Les remises sont accordées par rapport au prix affiché (non barré). Ainsi en cas de prix barré les remises s’appliquent sur le prix déjà remisé sur le site. Les prix catalogue sont susceptibles d’être modifiés sans préavis, notamment en cas d’erreur de saisie.
Typologies de remise :
    •    Remise accordée à un groupe de personnes (ex. adhérents d’un club de tennis ) : dans ce cas les adhérents se voient remettre un  chèque cadeau à saisir lors de la commande, ou sont affectés à un groupe qui bénéficie de la remise. Dans ce cas des justificatifs pourront être demandés pour l'inscription au groupe, et une procédure simple sera diffusée à ses membres par l’intermédiaire du responsable.
    •    Remise accordée à un particulier : toute personne ayant cumulé un certain montant d’achat TTC sur le site {{SITEDOMAIN}} est susceptible de bénéficier pour ses achats suivants de bons cadeau, ou de remises additionnelles valables sur l’ensemble du site.
    •    Les bons cadeaux viennent en déduction du prix affichés.
Les données enregistrées par le système informatique de {{SITENAME}} constituent la preuve de l'ensemble des transactions passées entre {{SITENAME}} et ses {{CLIENT}}s.
 
<h6>9. Retour Produits</h6>

Le retour des produits est géré par le fabriquant {{PROVIDER}}.

<h6>10. Responsabilité</h6>

Les produits proposés sont conformes à la législation française en vigueur.
Les photographies et les textes reproduits et illustrant les produits présentés ne sont pas contratuels. En conséquence, la responsabilité de {{SITENAME}} ne saurait être engagée en cas d'erreur dans l'une de ces photographies ou l'un de ces textes.
{{SITENAME}} ne saurait être tenu pour responsable de l'inexécution du contrat conclu en cas de rupture de stock ou indisponibilité du produit, en cas de force majeure, de perturbation ou grève totale ou partielle notamment des moyens de transport et/ou communications, inondation, incendie, catastrophe.
Des liens hypertextes peuvent renvoyer vers d'autres sites que le site {{SITEDOMAIN}}. {{SITENAME}} dégage toute responsabilité dans le cas où le contenu de ces sites contreviendrait aux dispositions légales et réglementaires en vigueur.
En outre, {{CLIENT}} s’engage à respecter les conditions et précautions d'utilisation des produits, notamment si elles sont stipulées sur les notices ou emballages, ou sur les fiches produit du site de chaque {{PROVIDER}}.
{{SITENAME}} ne peut être tenu pour responsable des dommages de toute nature qui pourraient résulter d'une mauvaise utilisation des articles livrés au {{CLIENT}}.
{{SITENAME}} ne peut être tenu pour responsable des éventuelles modifications apportées par les {{PROVIDER}} dans la composition des articles vendus sur le site {{SITEDOMAIN}}.
En tout état de cause, la responsabilité de {{SITENAME}} sera limitée au montant du service qu'il propose.
 
<h6>11. Droit applicable et litiges</h6>

Le présent contrat est soumis à la loi française. La langue du présent contrat est la langue française. En cas de litige sur son interprétation et/ou exécution, le tribunal de Commerce de Polynésie Française sera seul compétent.
Le {{CLIENT}} et {{SITENAME}}/{{PROVIDER}} privilégieront toujours une solution amiable avant toute action en justice.
En vertu des articles 313-1 et suivants du Code pénal, constitue une escroquerie " le fait, soit par l'usage d'un faux nom ou d'une fausse qualité, soit par l'abus d'une qualité vraie, soit par l'emploi de manœuvres frauduleuses, de tromper une personne physique ou morale et de la déterminer ainsi, à son préjudice ou au préjudice d'un tiers, à remettre des fonds, des valeurs ou un bien quelconque, à fournir un service ou à consentir un acte opérant obligation ou décharge ".
Le délit d'escroquerie par utilisation frauduleuse d'un moyen de paiement peut donner lieu à une peine de 5 ans d'emprisonnement et à une amende de 400 000 €. La simple tentative est punie des mêmes peines. La politique de notre site est de poursuivre au pénal quiconque se rendra coupable de telles tentatives de fraude. Nous n'hésiterons pas à porter plainte, notamment sur la base des informations fournies lors des commandes en ligne (adresse IP, nom, prénom ou coordonnées de livraison).
 
<h6>12. Protection des données personnelles</h6>

Les informations nominatives collectées auprès du {{CLIENT}} sont indispensables pour assurer le traitement de la commande, l'acheminement de cette commande et l'établissement de la facture correspondante.
Le défaut de renseignement d'une telle information entraîne un refus de la commande.
Afin de respecter la loi "Informatique et Libertés", le traitement des informations nominatives relatives aux {{CLIENT}}s a fait l'objet de la part de la {{SITENAME}} d'une déclaration auprès de la Commission Nationale de l'Informatique et des Libertés (CNIL).
 
 <h6>13. Service proposé à {{PROVIDER}}</h6>

<strong>Clause n° 1 : Objet</strong>
Les conditions générales de vente décrites ci-après détaillent les droits et obligations du site {{SITENAME}} et de son utilisateur ({{PROVIDER}}) dans le cadre de la vente des marchandises suivantes : plats à emporter, plats chauds et froids, plats cartonnés, plats préparés et tous types de plats mangeables, distinés à la vente rapide et soumis aux normes d'hygiènes réglementées.
Toute prestation accomplie par le site {{SITENAME}} implique donc l'adhésion sans réserve de {{PROVIDER}} aux présentes conditions générales de vente.

<strong>Clause n° 2 : Prix</strong>
Chaque commande d'un client coûtera 113 XPF aux {{PROVIDER}}. Le client n'en sera pas informé sur sa facture. Une commande équivaut à un panier/cadie virtuel.
Cas du super panier : un client qui aura un panier de 3 différents {{PROVIDER}} (ex : un panier composé de 2 pizzas chez {{PROVIDER}} A, 1 crêpe au nutella chez {{PROVIDER}} B et 1 gauffre chez {{PROVIDER}} C) se verront tous les trois débités de 113 XPF chacun puisqu'ils auront utiliser ce service.

<strong>Clause n° 3 : Facturation</strong>
Tous les fin de mois, une facture détaillée sera emis par mail, via la messagerie du site {{SITENAME}} et via les services postaux pour les " Retards de paiement ".

<strong>Clause n° 4 : Escompte</strong>
Aucun escompte ne sera consenti en cas de paiement anticipé.

<strong>Clause n° 5 : Modalités de paiement</strong>
Le règlement des factures s'effectue par virement bancaire sur le compte indiqué sur la facture.

<strong>Clause n° 6 : Retard de paiement</strong>
En cas de défaut de paiement total ou partiel du service au jour de la réception, {{PROVIDER}} doit verser à l'entreprise {{NAME}} une pénalité de retard égale à trois fois le taux de l'intérêt légal.
Le taux de l'intérêt légal retenu est celui en vigueur au jour de la facture émis.

<strong>Clause n° 7 : Clause résolutoire</strong>
Si dans les quinze jours qui suivent la mise en oeuvre de la clause " Retard de paiement ", {{PROVIDER}} ne s'est pas acquitté des sommes restant dues, {{EDITOR}} se réserve le droit de geler son compte et pourra ouvrir droit à l'allocation de dommages et intérêts au profit de l'entreprise {{NAME}}.

<strong>Clause n° 8 : Clause de réserve de propriété</strong>
L'entreprise {{NAME}} conserve la propriété des services jusqu'au paiement intégral du prix, en principal et en accessoires. À ce titre, si {{PROVIDER}} fait l'objet d'un redressement ou d'une liquidation judiciaire, l'entreprise {{NAME}} se réserve le droit de revendiquer, dans le cadre de la procédure collective, les services restées impayées. 

<h6>14. Contact</h6>

{{NAME}}
{{ADDRESS}}

Via le formulaire de contact du site sous le libellé "Contact/Information".
</pre>
