<h6>Notes et règles importantes</h6>

<em>"Le site {{SITENAME}} est un service avant tout. Dédié aux professionnels de la vente de plat, vous permettera de mettre en ligne des plats que vos clients peuvent commander. L'interface se veut simple d'utilisation et permet également des liaisons faciles via des liens pour vos réseaux sociaux, ainsi vous disposerez d'une interface qui accumulera automatiquement vos prochaines commandes."</em>

L'EDITEUR et {{PROVIDER}} sont considérés partenaires lors de l'acceptation des présentes conditions et l'inscription au site {{SITENAME}} fait office de contrat signé entre les deux parties.
L'EDITEUR et {{DELIVER}} ne sont pas partenaires. Son inscription permet l'utilisation des services présent sur le site {{SITENAME}}.
L'EDITEUR recommande {{DELIVER}} et {{PROVIDER}} s'ils donnent accord pour un partenariat de rédiger un contrat entre leur partie. L'EDITEUR ne saurait être tenu pour responsable en cas de conflit entre les deux parties.

{{PROVIDER}} se doit de livrer à destination de son client s'il y a livraison du produit.
{{DELIVER}} se doit d'acheter le produit aux {{PROVIDER}} et se faire régler avec le client qui a passé commande.


Ces règles sont présentes dans les conditions générales d'utilisation et de vente.
