<h6>Notes et règles importantes</h6>

<em>"Le site {{SITENAME}} est un service et ne réalise aucunes ventes de produit ni ne livre. Afin de satisfaire tous les utilisateurs, nous vous prions de respecter les conditions appliquées sur le site. Dédié particulièrement aux professionnels de la restauration rapide, le site vous permettera de proposer vos plats en ligne que vos clients peuvent commander en toute simplicité. L'interface se veut simple d'utilisation et permet également d'interagir facilement avec vos clients sur les réseaux sociaux grâce aux liens dynamiques. Ainsi vous disposerez d'une application en ligne qui accumulera automatiquement vos prochaines commandes sans appel, sans message privé et 24 heures sur 24. Les coursiers professionnels indépendants pourront aussi satisfaire la chaîne de commande en passant contrat avec les traiteurs présents sur le site."</em>

{{EDITOR}} et {{PROVIDER}} sont considérés partenaires lors de l'acceptation des présentes conditions et l'inscription au site {{SITENAME}} fait office de contrat signé entre les deux parties qui délcare que {{PROVIDER}} est prospect de {{NAME}}.
{{EDITOR}} et {{DELIVER}} ne sont pas partenaires. Son inscription permet l'utilisation des services présent sur le site {{SITENAME}}.
{{EDITOR}} recommande {{PROVIDER}} et {{DELIVER}} s'ils donnent accord pour un partenariat de rédiger leur contrat. {{EDITOR}} ne saurait être tenu pour responsable en cas de conflit entre {{PROVIDER}} et {{DELIVER}}.

{{PROVIDER}} se doit de livrer à destination de son client s'il y a livraison du produit.

Ces règles sont présentes dans les conditions générales d'utilisation et de vente.
