{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.price) }}
    {{ form_row(form.description) }}
    {{ form_row(form.recipe) }}
    {{ form_row(form.picture) }}
    <button class="btn btn-primary btn-white">{{ button_label | default('Enregistrer') }}</button>
{{ form_end(form) }}
