{{ form_start(form) }}
{{ form_errors(form.recaptcha) }}
<fieldset>
	{{ form_row(form.name) }}
	{{ form_row(form.price) }}
	{{ form_row(form.description) }}
	{{ form_row(form.recipe) }}
	{{ form_row(form.image) }}
	{{ form_widget(form.recaptcha) }}
	<span class="text-info" style="display: none;">
		config server :
		{% for item in config %}
			{{item ~ " "}}
		{% endfor %}
	</span>
	<button onclick="onClick()" class="btn">{{ button_label | default('Enregistrer') }}</button>
</fieldset>
{{ form_end(form) }}
