{{ form_start(form) }}
{{ form_errors(form.recaptcha) }}
<fieldset>
	{{ form_row(form.name) }}
	{{ form_row(form.price) }}
	{{ form_row(form.image) }}
	<div class="custom-control custom-checkbox">
		{{ form_row(form.delivery) }}
	</div>
	{{ form_widget(form.recaptcha) }}
	<button type="button" class="btn d-block mb-3 btn-form-collapse" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">
		{{"Plus d'option"|trans({}, 'form')}}
		<i class="fas fa-plus-circle ml-1" aria-hidden="true"></i>
	</button>
	<div class="collapse multi-collapse" id="multiCollapseExample2">
		{{ form_row(form.description) }}
		{{ form_row(form.recipe) }}
		{{ form_row(form.tags) }}
	</div>
	<hr style="width: 222px;">
</fieldset>
{% if meal is defined %}
	<div id="data-meal" data-meal="{{ {display: 'block',info: meal.imgInfo, img: meal.img, lang: app.request.defaultLocale}|json_encode|e('html_attr') }}"></div>
{% endif %}

<button class="btn">{{ button_label | default('Enregistrer') }}</button>
{{ form_end(form) }}
