{{ form_start(form, {'attr': {'class': 'custom', 'id': 'mealForm'}}) }}
{{ form_errors(form.recaptcha) }}
<fieldset>
	{{ form_row(form.name) }}
	{{ form_row(form.price) }}
	{{ form_row(form.stock) }}
	{{ form_row(form.image) }}
	<div class="custom-control custom-switch">
		{{ form_row(form.delivery) }}
	</div>
	{{ form_widget(form.recaptcha) }}
	<button type="button" class="btn d-block mb-3 btn-form-collapse" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">
		{{"Plus d'option"|trans({}, 'form')}}
		<i class="fas fa-plus-circle ml-1" aria-hidden="true"></i>
	</button>
	<div class="collapse multi-collapse multiCollapseMeal" id="multiCollapseMeal">
		{{ form_row(form.description) }}
		{{ form_row(form.recipe) }}
		{{ form_row(form.tags) }}
	</div>
	<hr style="width: 222px;">
	<button class="btn">{{ button_label | default('Enregistrer') }}</button>
</fieldset>
{{ form_end(form) }}
