{% extends 'base.html.twig' %}

{% block title "Les plats" %}

{% block body %}

	<div class="meal p-t-115 p-b-123">
		<a href="{{ path('meal_new') }}">Create new</a>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>CreatedAt</th>
					<th>Price</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for meal in meals %}
					<tr>
						<th>{{ "#" ~ loop.index }}</th>
						<td>{{ meal.name }}</td>
						<td>{{ meal.createdAt ? meal.createdAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ meal.price }}</td>
						<td>
							<a href="{{ path('meal_show', {'id': meal.id, 'slug': meal.slug}) }}">show</a>
							<a href="{{ path('meal_edit', {'id': meal.id, 'slug': meal.slug}) }}">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="8">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>

{% endblock %}
