{% extends 'base.html.twig' %}

{% block title %}Meal index{% endblock %}

{% block body %}
    <h1>Meal index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>CreatedAt</th>
                <th>Recipe</th>
                <th>Picture</th>
                <th>Description</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for meal in meals %}
            <tr>
                <td>{{ meal.id }}</td>
                <td>{{ meal.name }}</td>
                <td>{{ meal.createdAt ? meal.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ meal.recipe }}</td>
                <td>{{ meal.picture ? meal.picture|join(', ') : '' }}</td>
                <td>{{ meal.description }}</td>
                <td>{{ meal.price }}</td>
                <td>
                    <a href="{{ path('meal_show', {'id': meal.id}) }}">show</a>
                    <a href="{{ path('meal_edit', {'id': meal.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('meal_new') }}">Create new</a>
{% endblock %}
