{% extends 'base.html.twig' %}

{% set name = meal.name %}

{% block title %}
	{{ name }}
{% endblock %}

{% block body %}

	<div class="meal-show p-t-115 p-b-95">
		<section class="section-chef bgwhite">
			<div class="container t-center">
				<span class="tit2 t-center">
					{{ name }}
				</span>

				<h3 class="tit5 t-center m-b-50 m-t-5">
					{{ meal.price ~ " XPF" }}
				</h3>
				<div class="row">
					<div class="col-md-8 col-lg-6 m-l-r-auto p-b-30">
						<div class="blo5 pos-relative p-t-60 command-submit">
							<div class="pic-blo5 size14 bo4 wrap-cir-pic hov-img-zoom ab-c-t">
								<a target="_blank" href="{{ meal.picture[0] }}"><img src="{{ meal.picture[0] }}" alt="IGM-MEAL"></a>
							</div>

							<div class="text-blo5 size34 t-center bo-rad-10 bo7 p-t-90 p-l-35 p-r-35 p-b-30">

								<div class="btn-group-meal">
									<button>
										<i class="fas fa-shopping-cart show-form-command" aria-hidden="true" title="{{ 'Ajouter au panier' | trans }}"></i>
									</button>
									<a href="#">
										<i class="fa fa-facebook m-l-21" aria-hidden="true" title="{{ 'Partager sur facebook' | trans }}"></i>
									</a>
									<a href="#">
										<i class="fa fa-twitter m-l-21" aria-hidden="true" title="{{ 'Partager sur twitter' | trans }}"></i>
									</a>
								</div>

								<div class="command-form">
									{{ form_start(form) }}
									<div class="row">
										<div class="col-md">
											{{ form_row(form.items) }}
										</div>
										<div class="col-md">
											<button class="btn" type="submit">{{ "Commander" | trans({}, 'form') }}</button>
										</div>
									</div>
									{{ form_end(form) }}
								</div>

								<a href="#" class="txt34 dis-block p-b-6">
									{{ name }}
								</a>

								<span class="dis-block t-center txt35 p-b-25">
									{{ meal.provider.name }}
								</span>

								<div class="t-center">
									{{ meal.description | raw }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/custom/meal/show.css')}}">
{% endblock %}

{% block javascripts %}
	<script src="https://kit.fontawesome.com/9132b45b0a.js" crossorigin="anonymous"></script>
	<script src="{{asset('assets/js/custom/meal/command.js')}}"></script>
	<script src="{{asset('assets/js/custom/loadingoverlay.min.js')}}"></script>
{% endblock %}
