{% extends 'base.html.twig' %}

{% set name = meal.name %}

{% block title %}
	{{ name }}
{% endblock %}

{% block metatags %}
	<meta name="twitter:creator" content="@raonagos">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@ariifood">
	<meta name="twitter:title" content="{{ meal.name ~ ' à ' ~ meal.price ~ ' XPF' }}">
	<meta name="twitter:description" content="{{ meal.description | htmldump }}">
	<meta name="twitter:creator" content="@ariifood">
	<meta name="twitter:image" content="{{ meal.img }}">
	<meta name="twitter:domain" content="">
	<meta property="twitter:url" content="{{ url('meal_show', {id: meal.id, slug: meal.slug}) }}"/>
	<meta name="twitter:widgets:border-color" content="{{color1}}">
	<link rel="canonical" href="{{url('meal_show', {id: meal.id, slug: meal.slug})}}">
	<meta property="fb:app_id" content="{{get_env('OAUTH_FACEBOOK_ID')}}">
	<meta property="og:url" content="{{ url('meal_show', {id: meal.id, slug: meal.slug}) }}"/>
	<meta property="og:type" content="article"/>
	<meta property="og:title" content="{{ meal.name ~ ' à ' ~ meal.price ~ ' XPF' }}"/>
	<meta property="og:description" content="{{ meal.description | htmldump }}"/>
	<meta property="og:image" content="{{ meal.img }}"/>
{% endblock %}

{% block body %}

	<div class="meal-show p-t-130 p-b-95">
		<div class="container t-center">
			<span class="tit2 t-center">
				{{ name }}
			</span>

			<h3 class="tit5 t-center m-b-50 m-t-5">
				{{ meal.price ~ " XPF" }}
			</h3>
			<div class="row">
				<div class="col-md col-lg p-t-80 p-b-30 d-none d-md-block">
					{% include "meal/auth/crud.html.twig" %}
				</div>
				<div class="col-md-8 col-lg-6 m-l-r-auto p-b-30">
					<div class="blo5 pos-relative p-t-80 command-submit">
						<div class="pic-blo5 size40 bo4 wrap-cir-pic hov-img-zoom ab-c-t">
							<a target="_blank" href="{{ meal.img }}" data-lightbox="meal-show" data-title="{{ meal.name ~ ' souvoureux...' }}">
								<img src="{{ meal.img }}" title="Agrandir l'image" alt="IGM-MEAL">
							</a>
						</div>

						<div class="text-blo5 size34 t-center bo-rad-10 bo7 p-t-90 p-l-35 p-r-35 p-b-30">

							<div class="btn-group-meal">
								<button>
									<i class="fas fa-shopping-cart show-form-command" aria-hidden="true" title="{{ 'Ajouter au panier' | trans }}"></i>
								</button>
								<a target="_blank" href="https://www.facebook.com/dialog/share?app_id={{ get_env('OAUTH_FACEBOOK_ID') }}&display=popup&href={{ url('meal_show', {id: meal.id, slug: meal.slug}) }}">
									<i class="fa fa-facebook m-l-21" aria-hidden="true" title="{{ 'Partager sur facebook' | trans }}"></i>
								</a>
								<a target="_blank" class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{ meal.name ~ ' à ' ~ meal.price ~ ' XPF' }}&url={{url('meal_show', {id: meal.id, slug: meal.slug})}}&hashtags=ariifood,tahiti,polynesie,{{meal.provider.name}}">
									<i class="fa fa-twitter m-l-21" aria-hidden="true" title="{{ 'Partager sur twitter' | trans }}"></i>
								</a>
							</div>

							<div class="command-form">
								{{ form_start(form) }}
								<div class="row">
									<div class="col-md">
										{{ form_row(form.items) }}
									</div>
									<div class="col-md">
										<button class="btn" type="submit">{{ "Commander" | trans({}, 'form') }}</button>
									</div>
								</div>
								{{ form_end(form) }}
							</div>

							<a href="#" class="txt34 dis-block p-b-6">
								{{ name }}
							</a>

							<span class="dis-block t-center txt35 p-b-25">
								{{ meal.provider.name }}
							</span>

							<div class="t-center">
								{{ meal.description | raw }}
							</div>
						</div>
					</div>
				</div>
				<div class="col-md col-lg">
					<div class="d-lg-none">
						{% include "meal/auth/crud.html.twig" %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/custom/meal/show.css')}}">
{% endblock %}

{% block javascripts %}
	<script src="{{asset('assets/js/custom/meal/command.js')}}"></script>
	<script src="{{asset('assets/js/custom/loadingoverlay.min.js')}}"></script>
{% endblock %}
