{% extends 'base.html.twig' %}

{% set name = meal.name %}
{% set provider = meal.provider %}
{% set meal_view = is_granted('MEAL_VIEW',meal) %}

{% block title %}
	{{ name }}
{% endblock %}

{% block metatags %}
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:site" content="@ariifood">
	<meta property="twitter:title" content="{{ meal.name ~ ' à ' ~ meal.price ~ ' XPF' }}">
	<meta property="twitter:description" content="{{ meal.description | htmldump }}">
	<meta property="twitter:creator" content="@ariifood">
	<meta property="twitter:image" content="{{ meal.img }}">
	<meta property="twitter:domain" content="">
	<meta property="twitter:url" content="{{ url('meal_show', {id: meal.id, slug: meal.slug}) }}"/>
	<meta property="twitter:widgets:border-color" content="{{color1}}">
	<link rel="canonical" href="{{url('meal_show', {id: meal.id, slug: meal.slug})}}">
	<meta property="fb:app_id" content="{{get_env('OAUTH_FACEBOOK_ID')}}">
	<meta property="og:url" content="{{ url('meal_show', {id: meal.id, slug: meal.slug}) }}"/>
	<meta property="og:type" content="article"/>
	<meta property="og:title" content="{{ meal.name ~ ' à ' ~ meal.price ~ ' XPF' }}"/>
	<meta property="og:description" content="{{ meal.description | htmldump }}"/>
	<meta property="og:image" content="{{ meal.img }}"/>
{% endblock %}

{% block body %}

	<div class="meal-show p-t-130 p-b-95">
		<div class="container t-center">
			<span class="tit2 t-center">
				{{ name }}
			</span>

			<h3 class="tit5 t-center m-b-50 m-t-5">
				{{ meal.price ~ " XPF" }}
			</h3>
			<div class="row flex-column-reverse flex-md-row">
				<div class="col-md col-lg p-b-30">
					{% include "meal/auth/info.html.twig" %}
				</div>
				<div class="col-md-8 col-lg-6 m-l-r-auto pb-md-5">
					<div class="blo5 pos-relative p-t-80 command-submit">
						<div class="pic-blo5 size40 bo4 wrap-cir-pic hov-img-zoom ab-c-t">
							<a target="_blank" href="{{ meal.img }}" data-lightbox="meal-show" data-title="{{ meal.name ~ ' souvoureux...' }}">
								<img src="{{ meal.img }}" title="Agrandir l'image" alt="IGM-MEAL">
							</a>
						</div>
						<div class="text-blo5 size34 t-center bo-rad-10 p-t-90 p-l-35 p-r-35 p-b-30">

							<div class="btn-group-meal">
								<a data-toggle="collapse" href="#collapseCommand" role="button" aria-expanded="false" aria-controls="collapseCommand">
									<i class="fas fa-shopping-cart" aria-hidden="true" title="{% if meal_view %}Vous ne pouvez pas commander votre propre produit !{% else %}{{'Ajouter au panier' | trans}}{% endif %}"></i>
								</a>
								<a target="_blank" href="https://www.facebook.com/dialog/share?app_id={{ get_env('OAUTH_FACEBOOK_ID') }}&display=popup&href={{ url('meal_show', {id: meal.id, slug: meal.slug}) }}">
									<i class="fa fa-facebook m-l-21" aria-hidden="true" title="{{ 'Partager sur facebook' | trans }}"></i>
								</a>
								<a target="_blank" class="twitter-share-button" href="https://twitter.com/intent/tweet?hashtags=ariifood,tahiti,polynesie,{{meal.provider.name}}&url={{url('meal_show', {id: meal.id, slug: meal.slug})}}">
									<i class="fa fa-twitter m-l-21" aria-hidden="true" title="{{ 'Partager sur twitter' | trans }}"></i>
								</a>
							</div>

							{% if false == meal_view %}
								<div class="collapse" id="collapseCommand">
									<div class="border border-app rounded p-2">
										<div class="command-form">
											<input type="hidden" name="meal_price" value="{{meal.price}}">
											{{form_start(form)}}
											{{form_rest(form)}}
											<div class="alert alert-info" role="alert">
												stock disponible :
												{{meal.stock}}
											</div>
											<span class="prices text-left d-block">
												<small class="text-muted"></small>
											</span>
											<button class="btn" type="submit">{{ "AddToCart" | trans({}, 'form') }}</button>
											{{form_end(form)}}
										</div>
									</div>
									<hr>
								</div>
							{% endif %}

							<span class="txt34 dis-block p-b-6">
								{{ name }}
							</span>

							<div class="favorite">
								{% include "meal/auth/fav.html.twig" %}
							</div>

							<span class="dis-block t-center txt35 p-b-6">
								<a href="{{path('provider_show', {id:provider.id,slug:provider.slug})}}">
									{{ provider.name }}
								</a>
							</span>
							{% if meal.delivery %}
								<span class="dis-block t-center tt-up fs-13 p-b-35 text-success">{{"assure"|trans}}</span>
							{% else %}
								<span class="t-center tt-up fs-13 p-b-35 text-warning">{{"n-assure"|trans}}</span>
								<button class="d-inline ml-2 text-warning" data-toggle="tooltip" data-placement="top" title="LALALALA">
									<i class="fas fa-info"></i>
								</button>
							{% endif %}

							<div class="rte t-center">
								{{ meal.description | raw }}
							</div>
							<div class="rte text-justify">
								{{ meal.recipe | raw }}
							</div>
						</div>
					</div>
				</div>
				<div class="col-md col-lg"></div>
			</div>
		</div>
	</div>
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/custom/css/meal/meal.css')}}">
{% endblock %}
{% block javascripts %}
	{% if false == meal_view %}
		<script src="https://www.google.com/recaptcha/api.js?render={{get_env('RECAPTCHA_KEY_3')}}" type="text/javascript"></script>
		<script src="{{asset('assets/custom/js/meal/app-command.js')}}"></script>
	{% endif %}
{% endblock %}
