{% extends 'base.html.twig' %}

{% block title "Contact" %}

{% block body %}
	<div class="app-contact p-t-115 p-b-123">
		<div class="row">
			<div class="col-md"></div>
			<div class="col-md-6">
				<h3 class="text-center m-b-50">{{ "Demande de <span class='theme-accent-color'>C</span>ontact" | trans | raw }}</h3>
				{{ form_start(form) }}
				{{ form_row(form.name, {'attr': {'placeholder': 'Votre nom'}, 'label': false}) }}
				{{ form_row(form.email, {'attr': {'placeholder': 'Votre email'}, 'label': false}) }}
				{{ form_row(form.subject, {'label': false}) }}
				{{ form_row(form.message, {'attr': {'placeholder': 'Votre message'}, 'label': false}) }}
				<button type="submit" class="btn">{{ "Contactez-nous" | trans({}, 'form') }}</button>
				{{ form_end(form) }}
			</div>
			<div class="col-md"></div>
		</div>
	</div>
{% endblock %}
