{% extends 'base.html.twig' %}

{% block title %}Hello TestController!
{% endblock %}

{% block body %}
	{% if app.debug %}
		<style>
			.example-wrapper {
				margin: 1em auto;
				max-width: 800px;
				width: 95%;
				font: 18px / 1.5 sans-serif;
				padding: 7em 2em 3em;
			}
			.example-wrapper code {
				background: #F5F5F5;
				padding: 2px 6px;
			}
			.flash,
			.mailer {
				margin-top: 2em;
			}
		</style>

		<div class="example-wrapper">
			<h1>Hello
				{{ controller_name }}! ✅</h1>

			This friendly message is coming from:
			<ul>
				<li>Your controller at
					<code>
						<a href="{{ '/home/lenoir/vscode/symfonyproject/lacommande/src/Controller/TestController.php'|file_link(0) }}">src/Controller/TestController.php</a>
					</code>
				</li>
				<li>Your template at
					<code>
						<a href="{{ '/home/lenoir/vscode/symfonyproject/lacommande/templates/test/index.html.twig'|file_link(0) }}">templates/test/index.html.twig</a>
					</code>
				</li>
			</ul>
			<section class="test mt-4">
				<div class="flash">
					<h5>Flash Test</h5>
					<a href="{{path("test_flash", {label: 'success'})}}">Success</a>
					<a href="{{path("test_flash", {label: 'danger'})}}">Danger</a>
				</div>

				<div class="mailer">
					<h5>Mailer Test</h5>
					{% if app.user %}
						<a href="{{path('test_mailer', {id: app.user.id})}}">Send mail</a>
					{% else %}
						<a href="{{path('app_login')}}">Login first</a>
						<a href="{{path('test_mailer', {id: 20})}}">
							Or Send This</a>
					{% endif %}
				</div>

				<div class="textarea">
					<div id="toolBar">
						<button class="btn" type="button" title="{{'gras'|trans({}, 'rte')}}" onclick="formatDoc('bold');">
							<i class="fas fa-bold" aria-hidden="true"></i>
						</button>
						<button class="btn" type="button" title="{{'italique'|trans({}, 'rte')}}" onclick="formatDoc('italic');">
							<i class="fas fa-italic" aria-hidden="true"></i>
						</button>
						<button class="btn" type="button" title="{{'souligne'|trans({}, 'rte')}}" onclick="formatDoc('underline');">
							<i class="fas fa-underline	" aria-hidden="true"></i>
						</button>
						<button class="btn" type="button" title="{{'list'|trans({}, 'rte')}}" onclick="formatDoc('insertunorderedlist');">
							<i class="fas fa-list-ul" aria-hidden="true"></i>
						</button>
						<button class="btn" type="button" title="{{'colle'|trans({}, 'rte')}}" onclick="formatDoc('paste');">
							<i class="fas fa-paste" aria-hidden="true"></i>
						</button>
					</div>
					<div id="textBox" contenteditable="true"></div>
				</div>

				<div class="tags">
					<h1 class="h5">Tags</h1>
					<div class="form">
						{{ render(path('meal_new')) }}
					</div>
				</div>

				<div class="category">
					<h1 class="h5">Category</h1>
					<div class="form">
						{{ form_start(form) }}
						{{ form_widget(form) }}
						<button class="btn">{{ button_label|default('Enregistrer') }}</button>
						{{ form_end(form) }}

					</div>
				</div>
			</section>
		</div>
	{% endif %}
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{asset('assets/vendor/select2/select2.min.css')}}">
	<link rel="stylesheet" href="{{asset('assets/custom/vendor/rte/richTextEditor.css')}}">
{% endblock %}
{% block javascripts %}
	<script src="{{asset('assets/vendor/select2/select2.min.js')}}"></script>
	<script src="{{asset('assets/custom/vendor/rte/richTextEditor.js')}}"></script>
	<script src="{{asset('assets/custom/js/test.js')}}"></script>
{% endblock %}
