{% extends "base/index.html.twig" %}

{% block index %}
	<!DOCTYPE html>
	<html lang="{{lang}}">
		<head>
			<title>
				{% block title %}{% endblock %}
				{{ " | " ~ nameSite }}
			</title>

			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">

			{% block metatags %}
				<meta property="twitter:card" content="summary_large_image">
				<meta property="twitter:site" content="@ariifood">
				<meta property="twitter:title" content="{{nameSite}}">
				<meta property="twitter:description" content="{{ 'descriptionSite' | trans ~ ' ' ~ nameSite | trans }}">
				<meta property="twitter:creator" content="@ariifood">
				<meta property="twitter:url" content="{{url('app_home')}}">
				<meta property="twitter:widgets:border-color" content="{{color1}}">
				<link rel="canonical" href="{{url('app_home')}}">
				<meta property="fb:app_id" content="{{get_env('OAUTH_FACEBOOK_ID')}}">
				<meta property="og:url" content="{{url('app_home')}}">
				<meta property="og:type" content="website">
				<meta property="og:title" content="{{nameSite}}">
				<meta property="og:description" content="{{ 'descriptionSite' | trans ~ ' ' ~ nameSite | trans }}">
			{% endblock %}

			<link rel="icon" type="image/png" href="{{asset('assets/images/icons/favicon.png')}}">

			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

			<link rel="stylesheet" type="text/css" href="{{asset('assets/fonts/themify/themify-icons.css') }}">
			<link rel="stylesheet" type="text/css" href="{{asset('assets/vendor/animate/animate.css') }}">
			<link rel="stylesheet" type="text/css" href="{{asset('assets/vendor/css-hamburgers/hamburgers.min.css') }}">
			<link rel="stylesheet" type="text/css" href="{{asset('assets/vendor/lightbox2/css/lightbox.min.css') }}">

			<link rel="stylesheet" type="text/css" href="{{asset('assets/css/main.css') }}">
			<link rel="stylesheet" type="text/css" href="{{asset('assets/css/util.css') }}">
			<link rel="stylesheet" type="text/css" href="{{asset('assets/custom/css/app-style.css') }}">
			
			{% block stylesheets %}{% endblock %}
			
		</head>
		<body class="ch-cookie-consent-body{% if controller_name is defined and controller_name == 'app' %} animsition{% endif %}{% if modalOpen is defined and modalOpen == 'open' %} modal-open{% endif %}">
			{% block header %}
				<div class="header">
					{% include "base/navigation/header.html.twig" %}
				</div>
			{% endblock %}

			<div id="main">
				{% block bodyfull %}{% endblock %}
				<section class="section-blog bg-white">
					<div class="container-fluid">
						{% block body %}{% endblock %}
					</div>
				</section>
			</div>

			{% block footer %}
				<div class="footer">
					{% include "base/navigation/footer.html.twig" %}
				</div>
			{% endblock %}

			<div id="flash" class="flash-js text-break">
				{% for label, messages in app.flashes %}
					{% for message in messages %}
						<span class="flash-span"></span>
						<div class="alert alert-{{label}} anime-flash-message-1" role="alert">
							{% if label == 'danger' %}
								<i class="fas fa-exclamation-triangle mr-1" aria-hidden="true"></i>
							{% else %}
								<i class="far fa-thumbs-up mr-1" aria-hidden="true"></i>
							{% endif %}
							{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endfor %}
			</div>

			<script src="https://kit.fontawesome.com/9132b45b0a.js" crossorigin="anonymous"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

			<script type="text/javascript" src="{{asset('assets/vendor/bootstrap/js/bootstrap.min.js')}}"></script>
			<script type="text/javascript" src="{{asset('assets/vendor/lightbox2/js/lightbox.min.js')}}"></script>

			<script src="{{asset('assets/vendor/custom/js/anime.min.js')}}"></script>
			<script src="{{asset('assets/vendor/custom/js/loadingoverlay.min.js')}}"></script>
			<script src="{{asset('assets/custom/js/app-anime.js')}}"></script>
			
			{% block javascripts %}{% endblock %}
			
			<script src="{{asset('assets/js/main.js')}}"></script>
			<script src="{{asset('assets/custom/js/app.js')}}"></script>

			

			{% if chcookieconsent_isCookieConsentSavedByUser() == false %}
				{{ render(path('ch_cookie_consent.show_if_cookie_consent_not_set')) }}
			{% endif %}

		</body>
	</html>
{% endblock %}
