{% extends 'base.html.twig' %}

{% set title_ = "Les Fournisseurs" | trans({}, 'nav') %}
{% set half_first = providers|slice(0, providers|length / 2) %}
{% set half_second = providers|slice(providers|length / 2) %}

{% block title %}
	{{ title_ }}
{% endblock %}

{% block bodyfull %}
	<div class="provider">
		<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url({{asset('assets/images/bg-title-page-01.jpg')}});">
			<h2 class="tit6 t-center">
				{{ title_ }}
			</h2>
		</section>

		<section id="provider-section" class="section-lunch bgwhite">
			<div class="container">
				<div class="pagination mt-1 justify-content-center p-t-108 p-b-20">
					{{ knp_pagination_render(providers, null, {}, {size: 'small', rounded: true}) }}
				</div>
				<div class="row">
					<div class="col-md-6 col-lg-6 m-l-r-auto">
						{% for provider in half_first %}
							<div class="provider-card">
								<div class="blo3 flex-w m-b-30 provider-hover" data-href="{{path('provider_show', {id: provider.id, slug: provider.slug})}}">
									<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
										<a href="{{path('provider_show', {id: provider.id, slug: provider.slug})}}"><img src="{{ provider.bgImg }}" alt="PROVIDER-BGIMG"></a>
									</div>

									<div class="text-blo3 size21 flex-col-l-m">
										<a href="{{path('provider_show', {id: provider.id, slug: provider.slug})}}" class="txt21 m-b-3">
											{{ provider.name }}
										</a>

										<div class="txt23">
											{{ provider.description | truncate(40) | raw }}
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>

					<div class="col-md-6 col-lg-6 m-l-r-auto">
						{% for provider in half_second %}
							<div class="provider-card">
								<div class="blo3 flex-w m-b-30 provider-hover" data-href="{{path('provider_show', {id: provider.id, slug: provider.slug})}}">
									<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
										<a href="{{ path('provider_show', {id: provider.id, slug: provider.slug}) }}"><img src="{{ provider.bgImg }}" alt="PROVIDER-BGIMG"></a>
									</div>

									<div class="text-blo3 size21 flex-col-l-m">
										<a href="{{ path('provider_show', {id: provider.id, slug: provider.slug}) }}" class="txt21 m-b-3">
											{{ provider.name }}
										</a>

										<div class="txt23">
											{{ provider.description | truncate(40) | raw }}
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="pagination mt-1 justify-content-center p-t-20 p-b-70">
					{{ knp_pagination_render(providers, null, {}, {size: 'small', rounded: true}) }}
				</div>
			</div>
		</section>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{asset('assets/custom/js/item-click-path.js')}}"></script>
	<script src="{{asset('assets/custom/js/provider/app-pagination.js')}}"></script>
{% endblock %}
