{% extends 'base.html.twig' %}

{% set title_ = provider.name %}
{% set edit = is_granted('PROVIDER_EDIT', provider) %}
{% set menus = provider.menus %}
{% set half_first = menus|slice(0, menus|length / 2) %}
{% set half_second = menus|slice(menus|length / 2) %}
{% set half_first_m = meals|slice(0, meals|length / 2) %}
{% set half_second_m = meals|slice(meals|length / 2) %}

{% block title %}
	{{title_}}
{% endblock %}

{% block metatags %}
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:site" content="@ariifood">
	<meta property="twitter:title" content="{{ title_ ~ ' - ' ~ provider.label }}">
	<meta property="twitter:description" content="{{ provider.description | htmldump }}">
	<meta property="twitter:creator" content="@ariifood">
	<meta property="twitter:image" content="{{ provider.bgImg }}">
	<meta property="twitter:domain" content="">
	<meta property="twitter:url" content="{{provider.bitly.link}}"/>
	<meta property="twitter:widgets:border-color" content="{{color1}}">
	<link rel="canonical" href="{{provider.bitly.link}}">
	<meta property="fb:app_id" content="{{get_env('OAUTH_FACEBOOK_ID')}}">
	<meta property="og:url" content="{{provider.bitly.link}}"/>
	<meta property="og:type" content="article"/>
	<meta property="og:title" content="{{ title_ ~ ' - ' ~ provider.label }}"/>
	<meta property="og:description" content="{{ provider.description | htmldump }}"/>
	<meta property="og:image" content="{{ provider.bgImg }}"/>
{% endblock %}

{% block bodyfull %}
	<div class="provider-show">


		<section class="bg-title-page pos-relative p-t-170 p-b-70 p-l-15 p-r-15" style="background-image: url({{provider.bgImg}});">
			<a class="" target="_blank" href="{{ qr_code_url(provider.bitly.link, {size:1920}) }}" data-lightbox="provider-show" data-title="{{ 'code qr pour ' ~ provider.name }}">
				<h1 class="tit6 t-center{% if provider.bgImg == '' %} text-dark{% endif %}">
					{{ title_ }}
				</h1>
			</a>
			<h1 class="t-center h5{% if provider.bgImg == '' %} text-dark{% else %} text-light{% endif %}">
				{{provider.label}}
			</h1>

			<div class="btn-group-provider d-flex justify-content-center align-items-center">
				<a target="_blank" href="https://www.facebook.com/dialog/share?app_id={{ get_env('OAUTH_FACEBOOK_ID') }}&display=popup&href={{provider.bitly.link}}">
					<i class="fa fa-facebook fa-2x{% if provider.bgImg == '' %} text-dark{% endif %}" aria-hidden="true" title="{{ 'Partager sur facebook' | trans }}"></i>
				</a>
				<a target="_blank" class="twitter-share-button" href="https://twitter.com/intent/tweet?hashtags=ariifood,tahiti,polynesie,{{provider.name}}&url={{provider.bitly.link}}">
					<i class="fa fa-twitter m-l-21 fa-2x{% if provider.bgImg == '' %} text-dark{% endif %}" aria-hidden="true" title="{{ 'Partager sur twitter' | trans }}"></i>
				</a>
			</div>
			<span class="bgImg-edit">
				<span  data-toggle="tooltip" data-placement="top" title="les vues" class="badge badge-danger">
					<i class="fas fa-eye" aria-hidden="true"></i>
					{{provider.viewer}}
				</span>
				<span  data-toggle="tooltip" data-placement="top" title="total des commandes" class="badge badge-warning">
					<i class="fas fa-shopping-cart" aria-hidden="true"></i>
					{{commands|round}}
				</span>
				<span  data-toggle="tooltip" data-placement="top" title="moyenne des prix des produits" class="badge badge-info">
					<i class="fas fa-utensils" aria-hidden="true"></i>
					{{avgPriceMeal|round}} XPF
				</span>
				{% if edit %}
					<a href="" data-toggle="modal" data-target="#providerModal">
						{{"changer le fond"}}
						<i class="fas fa-edit fa-2x" aria-hidden="true"></i>
					</a>
				{% endif %}
			</span>
		</section>

		{% if menus|length > 0 %}
			<section id="menu" class="bg1-pattern section-mainmenu p-t-90 p-b-70">
				<span class="tit2 t-center d-flex justify-content-center m-b-55">
					Notre Carte
				</span>
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-lg-6 p-r-35 p-r-15-lg m-l-r-auto">
							{% for menu in half_first %}
								<div class="wrap-item-mainmenu">
									<h3 id="{{menu.category.name}}" class="tit-mainmenu tit10 p-b-25">
										{{menu.category.name}}
									</h3>
									{% for meal in menu.meals %}
										<div class="item-mainmenu m-b-36">
											<div class="flex-w flex-b m-b-3">
												<a href="{{path('meal_show', {id:meal.id,slug:meal.slug})}}" class="name-item-mainmenu txt21">
													{{meal.name}}
												</a>

												<div class="line-item-mainmenu bg3-pattern"></div>

												<div class="price-item-mainmenu txt22">
													{{meal.price}}
													XPF
												</div>
											</div>

											<span class="info-item-mainmenu txt23">
												{{meal.tags|map(tag => tag)|join(', ', ' et ')}}
											</span>
										</div>
									{% endfor %}
								</div>
							{% endfor %}
						</div>
						<div class="col-md-10 col-lg-6 p-l-35 p-l-15-lg m-l-r-auto">
							{% for menu in half_second %}
								<div class="wrap-item-mainmenu">
									<h3 id="{{menu.category.name}}" class="tit-mainmenu tit10 p-b-25">
										{{menu.category.name}}
									</h3>
									{% for meal in menu.meals %}
										<div class="item-mainmenu m-b-36">
											<div class="flex-w flex-b m-b-3">
												<a href="{{path('meal_show', {id:meal.id,slug:meal.slug})}}" class="name-item-mainmenu txt21">
													{{meal.name}}
												</a>

												<div class="line-item-mainmenu bg3-pattern"></div>

												<div class="price-item-mainmenu txt22">
													{{meal.price}}
													XPF
												</div>
											</div>

											<span class="info-item-mainmenu txt23">
												{{meal.tags|map(tag => tag)|join(', ', ' et ')}}
											</span>
										</div>
									{% endfor %}
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</section>
		{% endif %}
		<section id="openHours" class="bg2-pattern pos-relative p-t-90 p-b-90 t-center p-l-15 p-r-15">
			{% if edit %}
				<span class="bgImg-edit">
					<a href="" data-toggle="modal" data-target="#providerModal">
						{{"modifier"}}
						<i class="fas fa-edit fa-2x" aria-hidden="true"></i>
					</a>
				</span>
			{% endif %}
			<span class="tit2 t-center m-b-35">
				Nos Horaires et Lieux de livraison
			</span>
			<h5 class="t-center text-bold my-2">{{provider.city}}</h5>
			<ul class="list-group m-t-35 list-group-horizontal-md d-flex justify-content-center">
				{% for key, times in provider.openHours %}
					<li class="list-group-item border-0 bg-transparent">
						<span class="d-block text-uppercase">
							{{key|trans}}
							:
						</span>
						{{times ? times|map(time => time)|join(', ') : "(Fermé)"|trans}}
					</li>
				{% endfor %}
			</ul>
		</section>
		{% if meals|length > 0 %}
			<section id="meal-section" class="section-lunch bg1-pattern p-t-90 p-b-40">
				<span class="tit2 t-center d-flex justify-content-center m-b-35">
					Nos produits
				</span>
				<div class="container">
					<div class="pagination mt-1 justify-content-center p-b-20">
						{{ knp_pagination_render(meals, null, {}, {size: 'small', rounded: true}) }}
					</div>
					<div class="row">
						<div class="col-md-6 col-lg-6 m-l-r-auto">
							{% for meal in half_first_m %}
								<div class="meal-card">
									<div class="blo3 flex-w m-b-30 meal-hover" data-href="{{path('meal_show', {id: meal.id, slug: meal.slug})}}">
										<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
											<a href="{{path('meal_show', {id: meal.id, slug: meal.slug})}}"><img src="{{ meal.img }}" alt="IMG-LUNCH"></a>
										</div>

										<div class="text-blo3 size21 flex-col-l-m">
											<a href="{{path('meal_show', {id: meal.id, slug: meal.slug})}}" class="txt21 m-b-3">
												{{ meal.name }}
											</a>

											<div class="txt23">
												{{ meal.description | truncate(40) | raw }}
											</div>

											<span class="txt22 m-t-20">
												{{ meal.price ~ " XPF"}}
											</span>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
						<div class="col-md-6 col-lg-6 m-l-r-auto">
							{% for meal in half_second_m %}
								<div class="meal-card">
									<div class="blo3 flex-w m-b-30 meal-hover" data-href="{{path('meal_show', {id: meal.id, slug: meal.slug})}}">
										<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
											<a href="{{ path('meal_show', {id: meal.id, slug: meal.slug}) }}"><img src="{{ meal.img }}" alt="IMG-LUNCH"></a>
										</div>

										<div class="text-blo3 size21 flex-col-l-m">
											<a href="{{ path('meal_show', {id: meal.id, slug: meal.slug}) }}" class="txt21 m-b-3">
												{{ meal.name }}
											</a>

											<div class="txt23">
												{{ meal.description | truncate(40) | raw }}
											</div>

											<span class="txt22 m-t-20">
												{{ meal.price ~ " XPF"}}
											</span>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="pagination mt-1 justify-content-center p-t-20">
						{{ knp_pagination_render(meals, null, {}, {size: 'small', rounded: true}) }}
					</div>
				</div>
			</section>
		{% endif %}
		{% if provider.linkfb or provider.linkinsta or provider.linktwitter %}
			<section id="social" class="bg2-pattern pos-relative p-t-90 p-b-90 t-center p-l-15 p-r-15">
				{% if edit %}
					<span class="bgImg-edit">
						<a href="" data-toggle="modal" data-target="#providerModal">
							{{"modifier"}}
							<i class="fas fa-edit fa-2x" aria-hidden="true"></i>
						</a>
					</span>
				{% endif %}
				<span class="tit2 t-center m-b-35">
					Nos Réseaux sociaux
				</span>
				<p class="t-center m-t-35 size32 m-l-r-auto">
					{{provider.description}}
				</p>
				<ul class="list-group list-group-horizontal-xl d-flex justify-content-center">
					{% if provider.linkfb %}
						<li class="list-group-item border-0 bg-transparent">
							<a href="{{provider.linkfb}}" target="_blank">
								<span>Page Facebook</span>
								<i class="fab fa-facebook fa-3x align-middle" aria-hidden="true"></i>
							</a>
						</li>
					{% endif %}
					{% if provider.linkinsta %}
						<li class="list-group-item border-0 bg-transparent">
							<a href="{{provider.linkinsta}}" target="_blank">
								<span>Page Instagram</span>
								<i class="fab fa-instagram fa-3x align-middle" aria-hidden="true"></i>
							</a>
						</li>
					{% endif %}
					{% if provider.linktwitter %}
						<li class="list-group-item border-0 bg-transparent">
							<a href="{{provider.linktwitter}}" target="_blank">
								<span>Page Twitter</span>
								<i class="fab fa-twitter fa-3x align-middle" aria-hidden="true"></i>
							</a>
						</li>
					{% endif %}
				</ul>
			</section>
		{% endif %}
		{% if edit %}
			<div class="provider-editable">
				{% include "provider/edit.html.twig" %}
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block stylesheets %}
	<style>
		.bgImg-edit {
			position: absolute;
			bottom: 10px;
			right: 10px;
		}
	</style>
{% endblock %}

{% block javascripts %}
	{% if edit %}
		<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
		<script src="{{asset('assets/vendor/autosize/autosize.min.js')}}"></script>
		<script src="{{asset('assets/custom/js/provider/app-provider.js')}}"></script>
	{% endif %}
	<script type="text/javascript" src="{{asset('assets/vendor/parallax100/parallax100.js')}}"></script>
	<script type="text/javascript">
		$('.parallax100').parallax100();
	</script>
	<script src="{{asset('assets/custom/js/item-click-path.js')}}"></script>
	<script src="{{asset('assets/custom/js/meal/app-pagination.js')}}"></script>
{% endblock %}
