{{ form_start(form_menu) }}
{{ form_row(form_menu.name) }}
{{ form_row(form_menu.price) }}
{{ form_row(form_menu.meal) }}
{{ form_row(form_menu.category) }}
<hr>
<button type="submit" class="btn">{{"Créer"|trans({}, 'form')}}</button>
{{ form_end(form_menu) }}
