{{ form_start(form) }}
<h2>{{ "Identifiant" | trans({}, 'connect') }}</h2>
<hr class="mx-auto size28 bg-dark mb-lg-5 mb-md-3 mb-2">
{{ form_row(form.name, {'label': false, 'attr': {'placeholder': 'Nom de l\'entreprise'}}) }}
{{ form_row(form.email, {'label': false, 'attr': {'placeholder': 'Email p'}}) }}
{{ form_row(form.username, {'label': false, 'attr': {'placeholder': 'Nom d\'utilisateur pour la connexion'}}) }}
<h2>Information</h2>
<hr class="mx-auto size28 bg-dark mb-lg-5 mb-md-3 mb-2">
<div class="row">
	<div class="col-md">
		<div>
			<div class="input-group mb-2">
				{{ form_errors(form.ntahiti) }}
				{{ form_widget(form.ntahiti, {'attr': {'placeholder': 'N° T.A.H.I.T.I'}}) }}
				<div class="input-group-prepend">
					<div class="input-group-text border-0 bg-transparent position-relative" style="right:1.5rem;">
						<button type="button" class="" data-toggle="tooltip" title="Vous n'êtes pas une entreprise ? Entre le n° ARII : 9999999.">
							<i class="fas fa-info" aria-hidden="true"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md">
		{{ form_row(form.city, {'label': false, 'help': 'Papeete, Rue St-Paul, Immeuble X'}) }}
	</div>
</div>
<h2>{{ "Sécurité" | trans({}, 'connect') }}</h2>
<hr class="mx-auto size28 bg-dark mb-lg-5 mb-md-3 mb-2">
{{ form_row(form.password.first, {'label': false, 'attr': {'placeholder': 'Mot de passe'}}) }}
{{ form_row(form.password.second, {'label': false, 'attr': {'placeholder': 'Confirmer le mot de passe'}}) }}
{{ form_row(form.checked) }}
<button class="btn btn-validation my-3" title="Accepter les conditions et créer mon compte">{{ "Créer un compte" | trans({}, 'connect') }}</button>
<p class="mt-2">
	<small>
		<em>*
		</em>En créant un compte sur
		<a style="font-size: 0.8rem;" href="{{ path('app_index') }}">{{ nameSite}}</a>, vous acceptez les
		<a style="font-size: 0.8rem;" href="{{path('app_credit')}}">Conditions d'utilisations</a>, ainsi que l'utilisattion des
		<a style="font-size: 0.8rem;" href="{{path('app_rgpd')}}">Cookies</a>
		du site.</small>
</p>
{{ form_end(form) }}
