{% extends 'base.html.twig' %}

{% block title %}
	{{user.name}}
{% endblock %}

{% block body %}
	<div class="user-show p-t-130 p-b-90">
		<div class="row">
			<div class="col-md"></div>
			<div class="col-md-10 table-responsive">
				<h1>{{ user.name }}</h1>

				<table class="table">
					<tbody>
						<tr>
							<th>Membre depuis</th>
							<td>{{ user.createdAt|date('Y-m-d H:i:s') }}</td>
						</tr>
						<tr>
							<th>Nom d'utilisateur</th>
							<td>{{ user.username }}</td>
						</tr>
						<tr>
							<th>Email</th>
							<td>{{ user.email }}</td>
						</tr>
						{% if is_granted('ROLE_LAMBDA') %}
							<tr>
								<th>Téléphone</th>
								<td>{{ user.lambda.phone }}</td>
							</tr>
						{% endif %}
						{% if is_granted('ROLE_PROVIDER') %}
							<tr>
								<th>N° T.A.H.I.T.I</th>
								<td>{{ user.ntahiti }}</td>
							</tr>
							<tr>
								<th>Téléphone</th>
								<td>{{ user.provider.phone }}</td>
							</tr>
							<tr>
								<th>Bitly</th>
								<td>{{ user.provider.bitly.link }}</td>
							</tr>
							<tr>
								<th>Qr Code</th>
								<td>
									<img src="{{ qr_code_url(user.provider.bitly.link, {size:150}) }}"/>
								</td>
							</tr>
						{% endif %}
					</tbody>
				</table>

				<div>
					{% include "user/_delete_form.html.twig" %}
				</div>

				{% if is_granted('ROLE_LAMBDA') %}
					<h1>Historique des commandes</h1>
					<ul class="list-group">
						{% for command in user.lambda.commands %}
							<li class="list-group-item">
								{{command.reference}}
								- pour le
								{{command.commandAt|date("d/m/Y H:i")}}
								- commandé le
								{{command.createdAt|date("d/m/Y H:i")}}
							</li>
						{% else %}
							<li class="list-group-item">
								Pas de commande
							</li>
						{% endfor %}
					</ul>
					<h1 class="mt-2">Favoris</h1>
					<ul class="list-group">
						{% for meal in user.lambda.meals %}
							<li class="list-group-item">
								<a href="{{path('meal_show', {id:meal.id,slug:meal.slug})}}">{{meal.name}}</a>
							</li>
						{% else %}
							<li class="list-group-item">
								Pas de Favoris
							</li>
						{% endfor %}
					</ul>
				{% endif %}

			</div>
			<div class="col-md"></div>
		</div>
	</div>
{% endblock %}
