{% extends 'base.html.twig' %}

{% block title %}
	{{user.name}}
{% endblock %}

{% block body %}
	<div class="user-show p-t-130 p-b-90">
		<div class="row">
			<div class="col-md"></div>
			<div class="col-md-10">
				<h1>Profile utilisateur</h1>

				<table class="table">
					<tbody>
						<tr>
							<th>Nom</th>
							<td>{{ user.name }}</td>
						</tr>
						<tr>
							<th>Membre depuis</th>
							<td>{{ user.createdAt|date('Y-m-d H:i:s') }}</td>
						</tr>
						<tr>
							<th>Slug</th>
							<td>{{ user.slug }}</td>
						</tr>
						<tr>
							<th>Nom d'utilisateur</th>
							<td>{{ user.username }}</td>
						</tr>
						<tr>
							<th>N° T.A.H.I.T.I</th>
							<td>{{ user.ntahiti }}</td>
						</tr>
						<tr>
							<th>Email</th>
							<td>{{ user.email }}</td>
						</tr>
					</tbody>
				</table>

				{% if is_granted('ROLE_LAMBDA') %}
					<h1>Historique des commandes</h1>
					<ul class="list-group">
						{% for command in user.lambda.commands %}
							<li class="list-group-item">
								{{command.reference}}
								à
								{{command.commandAt|date("Y-M-D H:i", "Pacific/Honolulu")}}
								-
								{{command.createdAt|date("Y-M-D H:i", "Pacific/Honolulu")}}
							</li>
						{% else %}
							<li class="list-group-item">
								Pas de commande
							</li>
						{% endfor %}
					</ul>
					<h1 class="mt-2">Favoris</h1>
					<ul class="list-group">
						{% for meal in user.lambda.meals %}
							<li class="list-group-item">
								<a href="{{path('meal_show', {id:meal.id,slug:meal.slug})}}">{{meal.name}}</a>
							</li>
						{% else %}
							<li class="list-group-item">
								Pas de Favoris
							</li>
						{% endfor %}
					</ul>
				{% endif %}

			</div>
			<div class="col-md"></div>
		</div>
	</div>
{% endblock %}
