<!-- Sign up -->
<div class="section-signup bg1-pattern p-t-85 p-b-85">
	{{ render(path('app_newletter')) }}
</div>

<!-- Footer -->

<footer class="bg1">
	<div class="container p-t-40 p-b-70">
		<div class="row">
			<div id="contact" class="col-sm-6 col-md-4 p-t-50">
				<h4 class="txt13 m-b-33">
					Contact
				</h4>
				{% if controller_name is defined and controller_name == 'provider:show' %}
					<ul class="m-b-70">

						<li class="txt14 m-b-14">
							<i class="fa fa-user fs-16 dis-inline-block size19" aria-hidden="true"></i>
							{{provider.name}}
						</li>

						<li class="txt14 m-b-14">
							<i class="fa fa-map-marker fs-16 dis-inline-block size19" aria-hidden="true"></i>
							{{provider.city}}
						</li>

						<li class="txt14 m-b-14">
							<i class="fa fa-phone fs-16 dis-inline-block size19" aria-hidden="true"></i>
							<a href="tel:{{provider.phone|phone}}">
								{{provider.phone|phone}}
							</a>
						</li>

						<li class="txt14 m-b-14">
							<i class="fa fa-envelope fs-13 dis-inline-block size19" aria-hidden="true"></i>
							<a href="mailto:{{provider.user.email}}">{{provider.user.email}}</a>
						</li>
					</ul>
					<!-- - -->
					<h4 class="txt13 m-b-32">
						Horaires d'ouverture au public
					</h4>
					<table>
						<tbody>
							{% for key, times in provider.openHours %}
								<tr class="txt14">
									<th>
										{{key|trans}}
									</th>
									<td>
										{{times ? times|map(time => time)|join(', ') : "(Fermé)"|trans}}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% else %}
					<ul class="m-b-70">
						<li class="txt14 m-b-14">
							<i class="fa fa-map-marker fs-16 dis-inline-block size19" aria-hidden="true"></i>
							Paea, Tahiti Polynésie Française
						</li>

						<li class="txt14 m-b-14">
							<i class="fa fa-phone fs-16 dis-inline-block size19" aria-hidden="true"></i>
							(+689) pas de téléphone
						</li>

						<li class="txt14 m-b-14">
							<i class="fa fa-envelope fs-13 dis-inline-block size19" aria-hidden="true"></i>
							<a href="mailto:support@ariifood.pf">support@ariifood.pf</a>
						</li>
					</ul>

					<!-- - -->
					<h4 class="txt13 m-b-32">
						Horaires d'ouverture au public
					</h4>

					<ul>
						<li class="txt14">
							08:45 AM – 12:00 AM
						</li>

						<li class="txt14">
							Tous les jours
						</li>
					</ul>
				{% endif %}
			</div>
			<div class="col-sm-6 col-md-4 p-t-50">
				<h4 class="txt13 m-b-38">
					Gallerie
				</h4>

				<!-- Gallery footer -->
				{{ render(path('app_gallery')) }}
			</div>
		</div>
	</div>

	<div class="end-footer bg2">
		<div class="container">
			<div class="flex-sb-m flex-w p-t-22 p-b-22">
				<div class="p-t-5 p-b-5">
					<a target="_blank" href="{{ global_insta }}" class="fs-15 c-white">
						<i class="fa fa-instagram" aria-hidden="true"></i>
					</a>
					<a target="_blank" class="fs-15 c-white" href="{{ global_fb }}">
						<i class="fa fa-facebook m-l-18" aria-hidden="true"></i>
					</a>
					<a class="twitter-share-button fs-15 c-white" target="_blank" href="{{ global_twitter }}">
						<i class="fa fa-twitter m-l-18" aria-hidden="true"></i>
					</a>
				</div>

				<div class="txt17 p-r-20 p-t-5 p-b-5">
					<a href="{{ path('app_credit') }}" class="p-r-10">Conditions</a>
					<a href="{{ path('app_rgpd') }}" class="p-r-10">Politique de confidentialité</a>
					<a href="{{ path('contact_new') }}" class="p-r-10">Contact</a>
					{{ "Licence &copy; 2020 Tous droits réservés" | trans | raw }}
					<i class="fa fa-heart"></i>
				</div>
			</div>
		</div>
	</div>
</footer>


<!-- Back to top -->
<div class="btn-back-to-top bg0-hov" id="myBtn">
	<span class="symbol-btn-back-to-top">
		<i class="fa fa-angle-double-up" aria-hidden="true"></i>
	</span>
</div>

<!-- Container Selection1 -->
<div id="dropDownSelect1"></div>
