{% if page_mode_header is not defined %}
	<header>
		<!-- Header desktop -->
		<div class="wrap-menu-header gradient1 trans-0-4">
			<div class="container h-full">
				<div class="wrap_header trans-0-3">
					<div class="logo">
						<a href="{{path('app_index') }}">
							<img src="{{asset('assets/images/icons/logo.png') }}" alt="IMG-LOGO" data-logofixed="{{asset('assets/images/icons/icon-position-map.png')}}">
						</a>
					</div>

					<div class="wrap_menu p-l-45 p-l-0-xl">
						<nav class="menu">
							<ul class="main_menu">
								<li>
									<a href="{{path('app_home') }}">
										<i class="fas fa-home" aria-hidden="true"></i>
										{{ "Accueil" | trans({}, 'nav') }}</a>
								</li>
								<li>
									<a href="{{path('meal_index') }}">
										<i class="fas fa-utensils" aria-hidden="true"></i>
										{{ "Les plats" | trans({}, 'nav') }}</a>
								</li>
								<li>
									<a href="{{path('contact_new') }}">
										<i class="fas fa-address-book" aria-hidden="true"></i>
										Contact</a>
								</li>
								{% if app.debug %}
									<li>
										<a href="{{path('test_index') }}">
											<i class="fas fa-vial" aria-hidden="true"></i>
											Test</a>
									</li>
								{% endif %}
							</ul>
						</nav>
					</div>

					<!-- Social -->
					<div class="social flex-w flex-l-m p-r-20">
						<div class="dropdown d-none d-sm-block">
							<a class="nav-link text- dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
								{{ lang }}
							</a>
							<div class="dropdown-menu" style="min-width: 1rem;" aria-labelledby="dropdownMenuButton">
								{% for locale in ['fr', 'en'] %}
									{% if locale != lang %}
										<a class="dropdown-item text-dark" href="{{path('app_setlocale', {lang: locale})}}">{{locale}}</a>
									{% endif %}
								{% endfor %}
							</div>
						</div>
						<a class="cart-items" href="{{ path('command_cart') }}">
							<span class="ti-shopping-cart"></span>
							{{ render(path('command_cart_items')) }}
						</a>
						<a target="_blank" href="{{ global_insta }}">
							<i class="fa fa-instagram m-l-21" aria-hidden="true"></i>
						</a>
						<a target="_blank" href="{{ global_fb }}">
							<i class="fa fa-facebook m-l-21" aria-hidden="true"></i>
						</a>
						<a class="twitter-share-button" target="_blank" href="{{ global_twitter }}">
							<i class="fa fa-twitter m-l-21" aria-hidden="true"></i>
						</a>
						{% if app.user %}
							<div class="d-none d-lg-block btn-group">
								<button type="button" class="dropdown-toggle dropdown-toggle-after" data-toggle="dropdown" data-display="static" aria-haspopup="false" aria-expanded="false">
									<span class="ti-user m-l-21 colorated"></span>
								</button>
								<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
									<a class="dropdown-item text-dark" href="{{path('user_show', {id: app.user.id, slug: app.user.slug})}}">
										<i class="far fa-eye mr-lg-1" aria-hidden="true"></i>
										{{"Profile"|trans({}, 'nav')}}
									</a>
									{% if is_granted('ROLE_PROVIDER') %}
										<a class="dropdown-item text-dark" href="{{path('user_manage', {id: app.user.id})}}">
											<i class="fas fa-cogs mr-lg-1" aria-hidden="true"></i>
											{{"Administrer"|trans({}, 'nav')}}
										</a>
									{% endif %}
									<div class="dropdown-divider"></div>
									<a class="dropdown-item text-dark text-justify" href="{{path('app_logout')}}">
										<i class="fas fa-sign-out-alt mr-lg-1" aria-hidden="true"></i>
										{{"Logout"|trans({}, 'nav')}}
									</a>
								</div>
							</div>
						{% else %}
							<a class="d-none d-lg-block" href="{{path('app_login') }}">
								<span class="ti-user m-l-21"></span>
							</a>
						{% endif %}
						<button class="d-lg-none btn-show-sidebar m-l-33 trans-0-4"></button>
					</div>

				</div>
			</div>
		</div>
	</header>

	<aside class="d-lg-none sidebar trans-0-4">
		<button class="btn-hide-sidebar ti-close color0-hov trans-0-4"></button>

		<ul class="menu-sidebar p-t-70 p-b-70">
			<li class="t-center m-b-13">
				<a href="{% if app.user %}{{path('user_show', {id: app.user.id, slug: app.user.slug})}}{% else %}{{path('app_login')}}{% endif %}" class="{% if app.user %}colorated{% endif %}">
					<span class="ti-user"></span>
				</a>
			</li>
			{% if app.debug %}
				<li class="t-center m-b-13">
					<a class="txt19 text-warning" href="{{path('test_index')}}">
						<i class="fas fa-bars" aria-hidden="true"></i>
						Test</a>
				</li>
			{% endif %}
			{% if is_granted('ROLE_PROVIDER') %}
				<li class="t-center m-b-13">
					<a class="txt19" href="{{path('user_manage', {id: app.user.id})}}">
						<i class="fas fa-cogs" aria-hidden="true"></i>
						{{"Administrer"|trans({}, 'nav')}}
					</a>
				</li>
			{% endif %}
			{% if app.user %}
				<li class="t-center m-b-13">
					<a class="txt19" href="{{path('app_logout')}}">
						<i class="fas fa-sign-out-alt" aria-hidden="true"></i>
						{{"Logout"|trans({}, 'nav')}}
					</a>
				</li>
			{% endif %}
			<hr class="w-50 mx-auto">
			<li class="t-center m-b-13">
				<a href="{{path('app_index')}}" class="txt19">
					<i class="fas fa-home" aria-hidden="true"></i>
					{{ "Accueil" | trans({}, 'nav') }}</a>
			</li>
			<li class="t-center m-b-13">
				<a href="{{path('meal_index')}}" class="txt19">
					<i class="fas fa-utensils" aria-hidden="true"></i>
					{{ "Les plats" | trans({}, 'nav') }}</a>
			</li>
			<li class="t-center m-b-33">
				<a href="{{path('contact_new')}}" class="txt19">
					<i class="fas fa-address-book" aria-hidden="true"></i>
					Contact</a>
			</li>

			<li class="t-center">
				<a href="" class="btn3 flex-c-m size13 txt11 trans-0-4 m-l-r-auto">
					{{ "Réservation" | trans({}, 'nav') }}
				</a>
			</li>
		</ul>
	</aside>

{% else %}
	<header>
		<a href="{{path('app_index') }}">
			<img class="p-t-30 mx-auto d-block" src="{{asset('assets/images/icons/logo.png') }}" alt="IMG-LOGO">
		</a>
	</header>
{% endif %}
