{% apply inky_to_html | inline_css(source('@styles/foundation-emails.css'), source('@styles/email.css')) %}

{% set nameSite = 'Arii Food' %}

<container>
	{% block header %}
		<spacer size="16"></spacer>
		<row class="header">
			<columns>
				<a href="{{ url('app_index') }}">
					<center>
						<img src="{{ email.image('@images/icons/icon-position-map.png') }}" class="logo" alt="{{nameSite}}">
					</center>
				</a>
			</columns>
		</row>
	{% endblock %}

	<row>
		<columns>
			{% block body %}{% endblock %}
		</columns>
	</row>

	{% block footer %}
		<row class="footer">
			<columns>
				<p>
					<strong>Ceci est un message automatique, merci de ne pas répondre à cet email.</strong>
				</p>
				<p>
					<em>
						{{ nameSite }},
					</em>
				</p>
			</columns>
		</row>
		<row class="bottom">
			<columns>
				<center>
					<spacer size="20"></spacer>
					<menu>
						<item href="{{ url('app_index') }}">Site web</item>
						<item href="{{ url('contact_new') }}">Contact</item>
						<item href="{{ url('app_home') }}">À propos</item>
					</menu>
				</center>
			</columns>
		</row>
	{% endblock %}
</container>
{% endapply %}
