{% extends "mailer/base.html.twig" %}

{% block body %}

	<row>
		<columns small="2" large="3"></columns>
		<columns small="8" large="6">
			<p>
				Votre commande a été envoyée aux commerçants et est en
				<strong>attente d'approbation</strong>
				!
			</p>
		</columns>
		<columns small="2" large="3"></columns>
	</row>

	<spacer size="8"></spacer>

	<row>
		<columns>
			<center>
				<h3>Détail de la commande :</h3>
			</center>
		</columns>
	</row>

	<style>
		.command .columns {
			border-bottom: 1px solid #6c757d;
		}
		.command .provider-show {
			margin: 3px;
		}
	</style>

	<container class="command">
		<row>
			<columns>
				<strong></strong>
			</columns>
			<columns>
				<strong>Nom</strong>
			</columns>
			<columns>
				<strong>Prix</strong>
			</columns>
			<columns>
				<strong>Quantité</strong>
			</columns>
		</row>
		{% for command in cart %}
			{% set provider = command['provider'] %}
			{% set price = command['price'] %}
			{% set meals = command['meals'] %}
			{% set forOne = loop.index %}
			<row>
				<columns>
					<strong>{{forOne}}</strong>
				</columns>
				<columns>{{provider.name}}</columns>
				<columns>
					<button class="provider-show" href="{{url('provider_show', {id:provider.id, slug:provider.slug})}}#contact">Contacter</button>
				</columns>
				<columns></columns>
			</row>
			{% for meal in meals %}
				<row>
					<columns>{{forOne ~ "." ~ loop.index}}</columns>
					<columns>
						{{meal['product'].name}}
					</columns>
					<columns>
						{{meal['product'].price}}
						XPF
					</columns>
					<columns>
						{{meal['quantity']}}
					</columns>
				</row>
			{% endfor %}
			<row>
				<columns></columns>
				<columns></columns>
				<columns>
					{{price}}
					XPF
				</columns>
				<columns></columns>
			</row>
		{% else %}
			<row>
				<columns></columns>
				<columns></columns>
				<columns>
					Votre commande doit d'abord être approuvée !
				</columns>
				<columns></columns>
			</row>
		{% endfor %}
		<row>
			<columns>Total</columns>
			<columns></columns>
			<columns>
				<strong>{{command.price}}
					XPF</strong>
			</columns>
			<columns></columns>
		</row>

		<row>
			<columns>Date de livraison</columns>
			<columns></columns>
			<columns></columns>
			<columns>{{command.commandAt|date("d/m/Y H:i", timezone)}}</columns>
		</row>

		<row>
			<columns>Date de commande</columns>
			<columns></columns>
			<columns></columns>
			<columns>{{command.createdAt|date("d/m/Y", timezone)}}</columns>
		</row>
	</container>

	<spacer size="12"></spacer>
	
	<container>
		<row>
			<columns>
				<center>
					<button class="btn btn-outline-danger" href="{{ url('command_delete', {token: command.confirmDelete, id: command.id}) }}">Annuler cette commande</button>
				</center>
			</columns>
		</row>
		<spacer size="12"></spacer>
	</container>
	
	<container>
		<row>
			<columns small="2" large="3"></columns>
			<columns small="8" large="6">
				<hr>
				<p>
					Merci d'avoir utilisé
					{{nameSite ~ ' - ' ~ timezone}}
					! N'hésitez pas à créer un compte pour bénéficier de remise sur vos prochaines commandes.
				</p>
				<p class="help text-center">Cette e-mail fait aussi office de facture. Besoin d'aide ? Veuillez-nous contacter en cliquant sur le lien en bas.</p>
			</columns>
			<columns small="2" large="3"></columns>
		</row>
	</container>
{% endblock %}
