{% if meal_view %}
	<div class="card">
		<div class="card-body">
			<ul class="list-group list-group-flush">
				<li class="list-group-item active">Information</li>
				<li class="list-group-item tcommand">T. Commande :
					<span class="tcommand-count">
						{{meal.totalcommand|number_format}}
					</span>
				</li>
				<li class="list-group-item">Lien :
					<a href="{{meal.bitly.link}}">{{meal.bitly.link}}</a>
				</li>
				<li class="list-group-item">
					<img src="{{ qr_code_url(meal.bitly.link, {size:150,label:meal.name}) }}"/>
				</li>
				<li class="list-group-item">Depuis :
					{{meal.createdAt|date('d/m/y')}}
				</li>
			</ul>
		</div>
	</div>
{% endif %}
